body {
  margin: 0 auto;
}
#navbar {
  height: 80px;
  border-bottom: 2px solid black;
}
.logo-container {
  float: left;
  width: 200px;
  display: flex;
  justify-content: flex-start;
}
.logo-container img {
  height: 60px;
  margin: 10px 10px;
}
.logo-container h2 {
  display: inline-block;
  color: black;
  margin: 25px 0px 25px;
}
.profile-container {
  width: auto;
  float: right;
}
.profile-container img {
  height: 60px;
  border-radius: 50%;
  margin: 10px 15px;
}
.main-container {
  display: flex;
}
#sidebar {
  height: 700px;
  padding: 10px;
  width: calc(10%);
  float: left;
  border-right: 2px solid black;
}
ul {
  padding: 0;
}
li {
  padding-left: 30px;
  padding-bottom: 0px;
  color: #55533a;
}
.container {
  width: 100%;
}
.second-navbar {
  width: 100%;
  height: 50px;
  display: flex;
  float: left;
  padding: 10px;
  align-self: center;
}
.navbar2-left {
  margin-left: 4%;
  text-decoration: underline;
}
.navbar2-right {
  align-self: center;
  padding: 10px;
  margin-left: 85%;
  background-color: #3fb98c;
  color: #ffffff;
  border: 0;
  width: 100px;
  height: 30px;
}

a {
  color: #ffffff;
  text-decoration: none;
}
table {
  width: 100%;
  margin-left: 5%;
  border-collapse: collapse;
}
tr,
th,
td {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  tab-size: 20px;
  width: 210px;
}
@media only screen and (max-width: 650px) {
  #sidebar {
    display: none;
    width: 0px;
  }
  #container {
    width: 100%;
    height: 80vh;
    display: flex;
  }
  .main-table {
    overflow: auto;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    margin-left: 0;
  }
}
