body {
  margin: 0 auto;
  width: 100%;
}
#navbar {
  height: 80px;
  border-bottom: 2px solid black;
}
.logo-container {
  float: left;
  width: 200px;
  display: flex;
  justify-content: flex-start;
}
.logo-container img {
  height: 60px;
  margin: 10px 10px;
}
.logo-container h2 {
  display: inline-block;
  color: black;
  margin: 25px 0px 25px;
}
.profile-container {
  width: auto;
  float: right;
}
.profile-container img {
  height: 60px;
  border-radius: 50%;
  margin: 10px 15px;
}
#main-container {
  display: flex;
  height: 100vh;
  width: 100%;
}
#sidebar {
  border-right: 2px solid #555;
  padding: 15px;
  display: flex;
  height: 100%;
  width: 9%;
}
#sidebar > nav {
  display: flex;
  flex-direction: column;
}
nav a {
  padding-bottom: 15px;
  color: #555;
  text-decoration: none;
}
#right-container {
  height: 100%;
  width: calc((100%) - 10%);
  overflow: hidden;
}
.right-head {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
}
.right-head h2 {
  color: #555;
  margin: 0;
}
.link-btn {
  background-color: #42b689;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  width: 150px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}
th {
  color: #565656;
}
th,
td,
table {
  border-collapse: collapse;
  border: 1px solid black;
}
table {
  width: 100%;
}
th,
td {
  padding: 20px;
  text-align: start;
}
.main-table {
  padding: 0px 25px;
}
.flex {
  display: flex;
  align-items: center;
}

.right-head i {
  margin-right: 15px;
  vertical-align: middle;
}

nav img,
nav i {
  height: 25px;
  margin-right: 15px;
}
nav i {
  vertical-align: middle;
  line-height: 27px !important;
}
@media only screen and (max-width: 767px) {
  #sidebar {
    display: none;
  }
  #right-container {
    width: 100%;
  }
  .right-head {
    padding-right: 8px;
  }
  .main-table {
    display: flex;
    overflow: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  #sidebar {
    width: 16%;
    padding: 0px;
  }
  #right-container {
    width: calc(100% - 17%);
  }
  li {
    padding-left: 0px;
    padding-right: 4px;
  }
  .right-head {
    padding-right: 75px;
  }
  .main-table {
    display: flex;
    overflow: auto;
    width: calc(100% - 11%);
  }
}
