body {
  margin: 0 auto;
  width: 100%;
}
#navbar {
  height: 80px;
  border-bottom: 2px solid black;
}
.logo-container {
  float: left;
  width: 200px;
  display: flex;
  justify-content: flex-start;
}
.logo-container img {
  height: 60px;
  margin: 10px 10px;
}
.logo-container h2 {
  display: inline-block;
  color: black;
  margin: 25px 0px 25px;
}
.profile-container {
  width: auto;
  float: right;
}
.profile-container img {
  height: 60px;
  border-radius: 50%;
  margin: 10px 15px;
}
#main-container {
  display: flex;
  height: 100vh;
  width: 100%;
}
ul {
  padding-left: 8px;
  list-style-type: none;
}
li {
  padding: 3px 0px;
}
.student {
  text-decoration: underline;
}
#sidebar {
  border-right: 2px solid #555;
  padding: 10px;
  display: flex;
  height: 100vh;
  width: 9%;
}
#right-container {
  height: 100vh;
  width: calc((100%) - 10%);
}
.right-head {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  padding-top: 25px;
}
a {
  text-decoration: none;
  padding: 5px;
  color: #fff;
  background-color: #3ab888;
}
h4,
th {
  color: #565656;
}
span {
  text-decoration: underline;
}
th,
td,
table {
  border-collapse: collapse;
  border: 1px solid black;
}
table {
  width: 100%;
}
th,
td {
  padding: 20px;
  text-align: start;
}
.main-table {
  padding: 0px 25px;
}
@media only screen and (max-width: 767px) {
  #sidebar {
    display: none;
  }
  #right-container {
    width: 100%;
  }
  .right-head {
    padding-right: 8px;
  }
    .main-table {
      display: flex;
      overflow: auto;
      width: 100%;
    }
  }
}
